
body{
    font-family: "Montserrat-Dark";
}
#title{
    background-color: #fff;
    color:#000;
}
.container-fluid{
    padding: 2% 2%;
}
.navbar{
    padding: 0 0 1.5rem;
}

.navbar-brand{
    font-family:"ubuntu";
    font-size: 2.2rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-item{
    font-size: 1.3rem;
    font-family: "Montserrat-Dark";
}
.form-control{
    border-radius:25px;
}
.btn{
    border-radius: 25px;
    margin:0 0 0 8%;
}
h1{
    font-size:"Montserrat-Black";
    font-size:3rem;
    line-height:1.5;
    color:#8D72E1;
    padding:30px;
}
.top-cloud{
    position: absolute;
    left:150px;
    top: 80px;
}
.bottom-cloud{
    position:absolute;
    
    left:630px;
    top: 80px;
}
.title-image{
    width:210%;
    margin:30% 0 0 0;
    height: 100vh;
}